<p>This is to inform that a deleted Domain tries to run an update job in cocca-api</p>
<br><br><br>
<p>Domain Details</p>
<br><br>
<p>Domain  Name: <%= @domain_name %></p>
<p>Partner Name: <%= @partner_name %></p>
